@import 'tailwindcss';

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	/* color: rgba(255, 255, 255, 0.87); */
	background-color: #fff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

button {
	cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
	/* width: 90%; */
	padding: 4px 11px;
	border: 1px solid #d9d9d9;
	border-radius: 7px;
}

.editable-cell-value-wrap {
	padding: 5px 12px;
	cursor: pointer;
}

.editable-cell {
	position: relative;
}

/* :where(.css-dev-only-do-not-override-1rocbtd) */
@media (max-width: 768px) {
	.ant-table-wrapper .ant-table.ant-table-small {
		font-size: 8px;
	}
}
